<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>.: Family Asset :.</title>
	<link rel="icon" href="/img/vs.png" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/themes/metro-blue/easyui.css">
	<link rel="stylesheet" type="text/css" href="/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/themes/color.css">
	<!-- <link rel="stylesheet" type="text/css" href="/css/navpanel.css"> -->
	<link rel="stylesheet" type="text/css" href="/themes/color.css">
	<link rel="stylesheet" type="text/css" href="/themes/mobile.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.easyui.mobile.js"></script>
	<script type="text/javascript" src="/js/home.js"></script>
	<link rel="stylesheet" href="/css/w3.css">
	<style>
				
		.datagrid-row{
    		height:45px;
		}
		</style>
</head>

<body>
	<table id="dg" title="Parent" class="easyui-datagrid" style="width:100%;height:280px;opacity:0.85"
				url="/get_family"
				toolbar="#toolbar" pagination="true"
				rownumbers="true" fitColumns="true" singleSelect="true">
			<thead>
				<tr>
					<th field="nama" width="50">Nama</th>
					<th field="jk" width="50">Jenis Kelamin</th>
                    <th field="id_parent" hidden width="50">ID Parent</th>
                    <!-- <th field="id_asset" width="50">ID Asset</th> -->
                    <th align="center" data-options="field:'openfile',formatter:openfile">Aksi</th>
				</tr>
			</thead>
			</table>
			<div id="toolbar">
			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newChild()">New Data</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editChild()">Edit Data</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyChild()">Remove Data</a>
			</div>

			<div id="dlg" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
			<form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
				<h3>Family Information</h3>
				<div style="margin-bottom:10px">
					<input  name="nama"  class="easyui-textbox" required="true" label="Nama:" labelPosition="top" style="width:100%">
				</div>
				<div style="margin-bottom:10px">
                    <select class="easyui-combobox" name="jk" label="Jenis Kelamin:" labelPosition="top" style="width:100%;">
                        <option value="Laki-Laki">Laki-Laki</option>
                        <option value="Perempuan">Perempuan</option>
                    </select>
				</div> 
                <div style="margin-bottom:10px">
                    <select class="easyui-combobox" id="id_parent" name="id_parent" label="Parent:" labelPosition="top" style="width:100%;">
                      
                    </select>
				</div> 
                <div style="margin-bottom:10px">
                    <select class="easyui-combobox" id="id_asset" name="id_asset" label="ID Asset:" labelPosition="top" style="width:100%;">
                        <option value="0">Laki-Laki</option>
                        <option value="1">Perempuan</option>
                    </select>
				</div> 
			</form>
			</div>
			<div id="dlg-buttons">
			<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveChild()" style="width:90px">Save</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
			</div>

            <div id="dlg1" class="easyui-dialog" title="Child" style="width:600px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg1-buttons'">
                <table id="dg1" title="" class="easyui-datagrid" style="width:100%;height:280px;opacity:0.85"
				
				toolbar="#toolbar1" pagination="true"
				rownumbers="true" fitColumns="true" singleSelect="true">
			<thead>
				<tr>
					<th field="nama" width="50">Nama</th>
					<th field="jk" width="50">Jenis Kelamin</th>
                    <th field="id_parent" hidden width="50">ID Parent</th>
                    <!-- <th field="id_asset" width="50">ID Asset</th> -->
                    <!-- <th align="center" data-options="field:'openfile1',formatter:openfile1">Aksi</th> -->
				</tr>
			</thead>
			</table>
            <div id="toolbar1">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newChild1()">New Data</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editChild1()">Edit Data</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyChild1()">Remove Data</a>
                </div>
            </div>

            <div id="dlg1-buttons">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg1').dialog('close')" style="width:90px">Cancel</a>
            </div>

			
            
            <script type="text/javascript" src="/js/family.js"></script>
</body>
</html>

