
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>.: Family Asset :.</title>
        <link rel="icon" href="/img/vs.png" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/themes/metro-blue/easyui.css">
        <link rel="stylesheet" type="text/css" href="/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="/themes/color.css">
        <!-- <link rel="stylesheet" type="text/css" href="/css/navpanel.css"> -->
        <link rel="stylesheet" type="text/css" href="/themes/color.css">
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
        
        <script type="text/javascript" src="/js/home.js"></script>
        <link rel="stylesheet" href="/css/w3.css">
    
    <style>
    html { 
      background: url(img/b1.png) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    </style>
    <script>
    
    $(document).ready(function(){
        $("#login").click(function(){
                
                var action = $("#lg-form").attr('action');
                var form_data = {
                    uname: $("#uname").textbox('getValue'),
                    upass: $("#upass").textbox('getValue'),
                    is_ajax: 1
                };
                
                console.log(form_data)

                $.ajax({
                    type: "POST",
                    url: action,
                    data: form_data,
                    success: function(response)
                    {
                        //alert(response);		
                        if(response == "success"){
                            $("#lg-form").slideUp('slow', function(){
                                $("#message").html('<p class="success">You have logged in successfully!</p><p>Redirecting....</p>');
                                setTimeout(myFunction, 1000);
                            });
                        }else{
                        $("#message").html('<p class="error">ERROR: Invalid username and/or password.</p>');}
                    },
                    error: function (response){
                        //alert(response.message);
                        $("#message").html('<p class="error">ERROR: Invalid username and/or password.</p>');
                    }
                });
                return false;
            });	
            
    function myFunction() {
    window.location='home';
    }		
    });
    
    
    
    </script>
    </head>
    <body>
    
        <Center>
        
        <div style="margin-top:12%;margin-left:10%;">
        <form id ="lg-form" name="lg-form" action='validate' method="post">
        <div class="easyui-panel" title="Login to Transaction" style="width:100%;max-width:400px;padding:30px 60px;">
            <div style="margin-bottom:10px">
                <input id="uname" name="uname" class="easyui-textbox" style="width:100%;height:35px;padding:12px" data-options="prompt:'Username',iconCls:'icon-man',iconWidth:38">
            </div>
            <div style="margin-bottom:20px">
                <input id ="upass" name="upass" class="easyui-textbox" type="password" style="width:100%;height:35px;padding:12px" data-options="prompt:'Password',iconCls:'icon-lock',iconWidth:38">
            </div>
    
            <div align="right">
            <button name="submit" id="login" class="w3-button w3-blue" style="width:100px;">Login</button>
            </div>
        </div>
        <div id="demo"><small><font color="gray"> &copy;  Siswo Laras 2017 - <?php echo date("Y"); ?> </font> </small></div>
        </form>
        <div id="message"></div> 
        </div>
        </Center>
        
    </body>
    </html>